<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroPro</servlet-name>
        <servlet-class>controlador.RegistroPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controlador.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultar</servlet-name>
        <servlet-class>controlador.ConsultarUS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUS</servlet-name>
        <servlet-class>controlador.ConsultarUS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarProd</servlet-name>
        <servlet-class>controlador.ConsultarProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroPro</servlet-name>
        <url-pattern>/registroP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultar</servlet-name>
        <url-pattern>/Consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUS</servlet-name>
        <url-pattern>/ConsultarUS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarProd</servlet-name>
        <url-pattern>/ConsultarProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
